<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Buy</title>
    <style>
        a:hover,
        a:active,
        a:active{
            background-color: white;
            padding:10px;
            border-radius:10px;
        }
    </style>
</head>
<body>
    <div class='container' style="background-color: rgb(81, 218, 236);border-radius:30px">
            <h1>Enter address</h1>
        <div class='row'>
            <div class='col-sm-8 '>
                <form method='POST' action='/'>
                    <p>Address</p>
                    <input type='text' name='name' style="border-radius:10px;">
                    <p>Door no</p>
                    <input type='text' name='password' style="border-radius:10px;"></br></br>
                    <p>Pincode</p>
                    <input type='number' name='password' style="border-radius:10px;"></br></br>
                </form>
                <button type='submit' style="background-color:rgb(255, 217, 0) ;border-radius:20px">Buy</button></form></br></br>   
            </div>
            <div class='col-sm-2' style="background-color: rgb(238, 230, 230); border-radius: 10px">
            </br>
                <div><a href="/">Logout</a></div>
                </br>
            </div>
        </div>
    </div>
</body>
</html>