<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Edit products</title>
    <style>
        a:hover,
        a:active,
        a:active {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
        }
        button{
            border-radius: 10px;
            background-color:white;
            padding:5px
        }
    </style>
</head>

<body>
    <div class='container' style="background-color: rgb(81, 218, 236);border-radius:30px">
        <h1>Users</h1>
        <div class='row'>
            <div class='col-sm-8 '>
                <h4 style='background-color: rgb(172, 171, 171);border-radius: 15px; padding:5px;'>&nbsp Id &nbsp &nbsp Name&nbsp &nbsp &nbsp link </h4>
                <% var i=0 %>
                <% var id=user.id %>
                <% while (i<arr.length) { %>
                    <% if( arr[i].puser == id) {%>
                        <p style='background-color: rgb(201, 197, 197);border-radius: 10px;'>&nbsp<%=arr[i].id %> &nbsp &nbsp <%= arr[i].pname %> &nbsp &nbsp <%= arr[i].link %> </p>
                    <% } %>
                <%i=i+1%>
                <%}%>
            </div>
            <div class='col-sm-3' style="background-color: rgb(238, 230, 230); border-radius: 10px">
                </br>
                    Delete id:<div>
                        <form method='POST' action='/proddel'>
                            <input type='number' name='delindex' style="border-radius:10px">
                            <button type='submit' style="border-radius:20px">del</button>
                        </form></br>
                        Edit/New id:<div>
                                <form method='POST' action='/prodedt'>  
                                    <input type='number' name='id' style="border-radius:10px">
                                    <button type='submit' style="border-radius:20px">edt</button>
                                </br>    
                                </br>New Details:</div>
                                    <input type='text' name='pname' style="border-radius:10px">:Name
                                    <input type='text' name='link' style="border-radius:10px" >:Img link
                                    <input type='number' name='pcost' style="border-radius:10px" >:cost
                                </form>
                        </div></br>
                        <form method='POST'>
                        <button type='submit' name='prod' formaction="/products"><a>Products</a></button></br></br>
                        </form>
                    </br>
                </div>
        </div>
        </br>
    </div>



</body>

</html>